.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    min-height: max(884px, 100dvh);
}

.focus-ring:focus-visible {
    outline: 2px solid #53d22d;
    outline-offset: 2px;
}